<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        img {
            object-fit: contain;
            max-width: 100%;
        }

        .primary-image {
            height: 300px;
        }

        .images {
            height: 150px;
        }
    </style>
</head>

<body>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.4/axios.min.js"
        integrity="sha512-ANd7ZJmixP2T0hxOP4bS6hkci01fxyrQSyRdaY7IsWq1WlKsD0WwWBDVDZbnMR7CJZVKCTkDx/q5D5n2C2C+vg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <div id="app">
        <div class="container">
            <div class="row py-3">
                <div class="col-12">
                    <div class="text-end">
                        <button class="btn btn-primary" type="button" @click="openModal('new')">建立新產品</button>
                    </div>
                    <table class="table table-hover mt-4">
                        <thead>
                            <tr>
                                <th width="150">
                                    分類
                                </th>
                                <th width="150">
                                    產品名稱
                                </th>
                                <th width="120">
                                    原價
                                </th>
                                <th width="120">
                                    售價
                                </th>
                                <th width="150">
                                    是否啟用
                                </th>
                                <th width="120">
                                    編輯
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 迭代全部產品[物件]-->
                            <tr v-for="item in products">
                                <td width="120">
                                    {{item.category}}
                                </td>
                                <td width="150">
                                    {{ item.title }}
                                </td>
                                <td width="120">
                                    {{ item.origin_price }}
                                </td>
                                <td width="120">
                                    {{ item.price }}
                                </td>
                                <td width="150">
                                    <!-- v-if判斷產品是否啟用 -->
                                    <span class="text-success" v-if="item.is_enabled == 1">啟用</span>
                                    <span v-else>未啟用</span>
                                </td>
                                <td width="120">
                                    <!-- 將temp物件重新指向觸發click事件的物件 -->
                                    <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal"
                                        data-bs-target="#productModal" data-bs-whatever="@getbootstrap"
                                        @click="openModal('edit',item)">編輯</button>
                                    <button type="button" class="btn btn-danger m-1"
                                        @click="openModal('delete',item)">刪除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="col-md-6">
                    <h2>單一產品細節</h2>
                    將temp物件呈現在template，v-if如果false會呈現下面的v-else
                    <template v-if="temp.title">
                        <div class="card mb-3">
                            <img :src="temp.imageUrl" class="card-img-top primary-image" alt="主圖">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ temp.title }}
                                    <span class="badge bg-primary ms-2">{{ temp.category }}</span>
                                </h5>
                                <p class="card-text">商品描述：{{ temp.description }}</p>
                                <p class="card-text">商品內容：{{ temp.content }}</p>
                                <div class="d-flex">
                                    <p class="card-text me-2">{{ temp.price }}</p>
                                    <p class="card-text text-secondary"><del>{{ temp.origin_price }}</del></p>
                                    元 / {{ temp.unit }}
                                    清除按鈕：將temp物件清空
                                    <button class="btn btn-danger ms-auto" type="button"
                                        v-on:click="temp = {}">清除</button>
                                </div>
                            </div>
                        </div>
                        <template v-for="photos in temp.imagesUrl">
                            迭代照片的陣列，：綁定src屬性，
                            <img :src="photos" alt="" class="images m-2">
                        </template>
                    </template>
                    <p v-else class="text-secondary">請選擇一個商品查看</p>
                </div> -->
            </div>
            <!-- MODAL SECTION -->
            <div class="row">
                <div class="modal fade" ref="productModal" id="productModal" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <!-- HEAD -->
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">新增產品</h1>
                            </div>
                            <!-- BODY -->
                            <div class="modal-body row">
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">主要圖片</label>
                                        <input type="text" class="form-control" id="recipient-name"
                                            placeholder="請輸入圖片連結">
                                    </div>
                                    <div class="mb-3">
                                        <h2>多圖新增</h2>
                                        <!--    判斷temp.imageUrl 陣列 -->
                                        <div v-if="Array.isArray(temp.imageUrl)">
                                            <div v-for="(img, key) in temp.imageUrl" :key="key">
                                                <img ;src="img" alt="" class="img-fluid">
                                                <input type="text" class="form-control" v-model="temp.imageUrl[key]">
                                            </div>
                                            <button type="button" class="btn btn-outline-primary"
                                                @click="temp.imageUrl.pop()" v-if=""></button>
                                            <button v-else type="button" class="btn btn-outline-primary"
                                                @click="temp.imageUrl.pop()"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <pre>
                                        {{temp}}
                                    </pre>
                                    <div class="row">
                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">標題</label>
                                            <input type="text" class="form-control" id="recipient-name"
                                                placeholder="請輸入標題">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-6">
                                            <label for="recipient-name" class="col-form-label">分類</label>
                                            <input type="text" class="form-control" id="recipient-name"
                                                placeholder="請輸入分類">
                                        </div>
                                        <div class="mb-3 col-6">
                                            <label for="recipient-name" class="col-form-label">單位</label>
                                            <input type="text" class="form-control" id="recipient-name"
                                                placeholder="請輸入單位">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-6">
                                            <label for="recipient-name" class="col-form-label">原價</label>
                                            <input type="text" class="form-control" id="recipient-name"
                                                placeholder="請輸入原價">
                                        </div>
                                        <div class="mb-3 col-6">
                                            <label for="recipient-name" class="col-form-label">售價</label>
                                            <input type="text" class="form-control" id="recipient-name"
                                                placeholder="請輸入售價">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">產品描述</label>
                                            <textarea type="text" class="form-control" id="recipient-name"
                                                placeholder="請輸入產品描述"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3">
                                            <label for="recipient-name" class="col-form-label">說明內容</label>
                                            <textarea type="text" class="form-control" id="recipient-name"
                                                placeholder="請輸入說明內容"></textarea>
                                        </div>
                                    </div>
                                    <div class="mb-3 d-flex">
                                        <input type="checkbox" id="recipient-name"></input>
                                        <label for="recipient-name">是否啟用</label>
                                    </div>
                                </div>
                            </div>
                            <!-- FOOTER -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" @click="updateProducts">確認</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DEL MODAL -->
            <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1"
                aria-labelledby="delProductModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content border-0">
                        <div class="modal-header bg-danger text-white">
                            <h5 id="delProductModalLabel" class="modal-title">
                                <span>刪除產品</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            是否刪除
                            <strong class="text-danger"></strong> 商品(刪除後將無法恢復)。
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                取消
                            </button>
                            <button type="button" class="btn btn-danger">
                                確認刪除
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="./products3.js"></script>
</body>

</html>